

  head {

  }

  /* All */
  h1 {
    color: #13505B;
    text-align: center;
    font-family: Cinzel;
    font-size: 45px;
  }

  body {
    background-color:#30B070;
    font-family: Merriweather;
    font-size: 14px;
  }

  nav ul {
    padding: 5px 0px 5px 30px;
  }

  nav li {
    display: block;
    margin-left: 20px;
  }

  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #0E3B43;
  }

  a:hover {
    text-decoration: underline;
  }

  input {
    font-size: 14px;
  }

  .header {
    width: 100%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .navbar {
      background-color: #27905C;
      width: 100%;
      text-align: center;
      Padding: 2px;
      margin-bottom: 15px;
      margin-right: 20px;
      margin-left: 20px;
  }

  .navbar a {
    color: #0E3B43;
  }

  ul#navhoriz li {
    display: inline;
    list-style: none;
  }

  .pathway {
    color: #0E3B43;
    margin-left: 20px;
  }

  .white-box {
    background-color: #FFFFFF;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 1050px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
  }
  /* End All */

  /* Home Page*/
  .horizontal {
    display: flex;
    flex-direction: row;
  }

  .vertical {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  .square1 {
    background-color: white;
    width: 210px;
    height: 310px;
    margin-left: 20px;
    padding: 20px;
  }

  .square2 {
    background-color: white;
    width: 420px;
    height: 310px;
  }

  .square3 {
    background-color: white;
    width: 210px;
    height: 155px;
    border-style: solid;
    border-color: black;
  }

  .square4 {
    background-color: white;
    width: 210px;
    height: 155px;
    border-style: solid;
    border-color: black;
  }
  /* End Home Page*/

  /* Article Home Page */
  .article-home-img {
    height: 90px;
    width: auto;
    float: left;
    border: 5px solid #0C7489;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
  }

  .container1 {
    display: flex;
    flex-direction: row;
  }

  .tile-title {
    font-size: 15px;
  }

  .tile-title a {
    color: #000000;
  }

  .row1 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 195px;
    margin-right: 195px;
    margin-bottom: 50px;;
  }

  .column1 {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 336px;
  }

  .tile1 {
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    padding: 5px;
    width: 336px;
    height: 280px;
    margin-bottom: 40px;
  }

  .tile4 {
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    padding: 5px;
    width: 336px;
    height: 280px;
  }

  .column2 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: 600px;
    width: 336px;
  }

  .tile2 {
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    padding: 5px;
    width: 336px;
    height: 280px;
    margin-bottom: 40px;
  }

  .tile5 {
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    padding: 5px;
    width: 336px;
    height: 280px;
  }

  .column3 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: 600px;
    width: 336px;
  }

  .tile3 {
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    padding: 5px;
    width: 336px;
    height: 280px;
    margin-bottom: 40px;
  }

  .tile6 {
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    padding: 5px;
    width: 336px;
    height: 280px;
  }

  .article-title {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
  }

  .article-body {
    margin-top: 45px;
    margin-left: 25px;
    line-height: 20px;
    top: 20px;
  }

  .author-link a {
    text-align: left;
    color: #000000;
  }

  .most-recent {
    text-align: center;
    text-decoration: underline;
    font-size: 17px;
  }

  .editors-choice {
    text-align: center;
    text-decoration: underline;
    font-size: 17px;
  }

  .most-popular {
    text-align: center;
    text-decoration: underline;
    font-size: 17px;
  }
/* End Article Home Page */

/* Author Home Page */
  .headshot {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }

  .author-img {
    display: inline-block;
    padding: 25px;
  }
/* End Author Home Page */

/* Article Page */
  .anon-icon {
    height: 50px;
    width: 50px;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .cat {
    width: 450px;
    height: auto;
    margin-left: 10px;
    margin-right: 15px;
    padding: 15px;
    float: left;
  }

  .align1 {
    background-color: #30B070;
    width: 350px;
    height: 2205px;
    float: right;
  }

  .adbox {
    background-color: #9E90A2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    color: #000000;
    padding: 5px;
    width: 336px;
    height: 280px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .recommended {
    background-color: #0C7489;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    color: #FFFFFF;
    padding: 5px;
    width: 336px;
    height: 280px;
    text-align: center;
    text-decoration: underline;
  }
  /* End Article Page */

  /* Author Page */
  .author-description {
    line-height: 20px;
  }

  .spongebob-writer {
    height: 300px;
    width: auto;
    margin-left: 20px;
    margin-right: 15px;
    float: left;
  }

  .align2 {
    background-color: #30B070;
    width: 350px;
    height: 1500px;
    float: right;
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .side-tile {
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    padding: 5px;
    width: 336px;
    height: 280px;
    padding: 5px;
    margin-bottom: 30px;
  }

  .recently-published-by-author {
    text-align: center;
    text-decoration: underline;
  }

  .most-popular-by-author {
    text-align: center;
    text-decoration: underline;
  }

  .editors-choice-by-author {
    text-align: center;
    text-decoration: underline;
  }

  .article-tile1 {
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    padding: 5px;
    width: 336px;
    height: 280px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    display: inline-block;
  }

  .article-tile2 {
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    padding: 5px;
    width: 336px;
    height: 280px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    display: inline-block;
  }

  .article-tile3 {
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    padding: 5px;
    width: 336px;
    height: 280px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    display: inline-block;
  }

  .article-tile4 {
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    padding: 5px;
    width: 336px;
    height: 280px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    display: inline-block;
  }

  .article-tile5 {
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    padding: 5px;
    width: 336px;
    height: 280px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    display: inline-block;
  }

  .article-tile6 {
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    padding: 5px;
    width: 336px;
    height: 280px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    display: inline-block;
  }
  /* End Author Page */

  /* Philosophy Page */
  .phil {
    font-size: 14pt;
    line-height: 3;
    text-align: center;
  }
  /* End Philosophy Page */

  /* Footer */
  .footer {
    display: inline-block;
    left: 0;
    bottom: 0;
    background-color: #93827F;
    color: white;
    width: 100%;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.19);
    margin-right: 20px;
    margin-left: 20px;
  }

  .footer a {
    padding: 5px 0px 5px 30px;
    color: #FFFFFF;
  }
/* End Footer */

